@{
}

@using T_shirt.Models.ViewModels
@model UserDetailViewModel


<!-- Page Content -->
<div class="container">
    <h1 class="my-4">Page Heading
        <small>@Model.UserName</small>
    </h1>

    <div class="row">
        <div class="col-l-8">
            <h3 class="my-3">Location</h3>
            <ul>

            </ul>
        </div>

        <h3 class="my-4">Related Projects</h3>
        <div class="row">
            <div class="col-3 col-sm-6 mb-4">
                <a hrf="#">
                    <img class="img-fluid" src="https://via.placeholder.col/500x300" alt="" />
                </a>
            </div>
        </div>
        
    </div>
</div>


