@model Category

<div>
   <div>
      <div class="row">
         <div class="text-center">
            <h2 class="display-5">T-shirt Category</h2>
         </div>
      </div>
   </div>
   <div>
      <form method="post" class="row">
         <div>
            @*
            <div asp-validation-summary="ModelOnly"></div>
            *@
            <div>   
               <label asp-for="Name"></label>
               <input asp-for="Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" />
               <span asp-validation-for="Name"></span>
            </div>
            <div> 
               <label asp-for="DisplayOrder" ></label>
               <input asp-for="DisplayOrder" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" />
               <span asp-validation-for="DisplayOrder" ></span>
            </div>
            <div role="group">
               <div>
                  <button type="submit" style="width:150px" class="btn btn-outline-primary">Create</button>
               </div>
               <div>
                  <a asp-controller="Category" asp-action="Index" style="width:150px" class="btn btn-outline-secondary">
                  Back to List
                  </a>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
@section Scripts
{
@{
<partial name="_ValidationScriptsPartial" />
}
}
