@page
@model TshirtWebRazor.Pages.Categories.DeleteModel


<div>
   <div>
      <div>
         <div class="text-center">
            <h2 class="display-5">Delete Category</h2>
         </div>
      </div>
   </div>
   <div>
      <form method="post">
         <input asp-for="Category.Id" hidden />
         <div>
            <div class="text-center">
               <h3 class="display-6">Delete Category </h3>
            </div>
            @*
            <div asp-validation-summary="ModelOnly"></div>
            *@
            <div>    
               <label  asp-for="Category.Name"></label>
               <input asp-for="Category.Name" type="text" class="form-control" />
               <span asp-validation-for="Category.Name"></span>
            </div>
            <div>  
               <label asp-for="Category.DisplayOrder"></label>
               <input asp-for="Category.DisplayOrder"  disabled  type="text" class="form-control" />
            </div>
            <div role="group">
               <div>
                  <button type="submit"  style="width:150px" class="btn btn-outline-danger">Delete</button>
               </div>
               <div>
                  <a asp-page="/categories/index" style="width:150px" class="btn btn-outline-secondary">
                  Back to List
                  </a>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>


@section Scripts
{
@{
<partial name="_ValidationScriptsPartial" />
}
}
