@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width: 48rem;">
<div class="row">
         <h2 class="text-primary">User`s T-shirt</h2>
      </div>
      <div class="col-6 text-right">
         <a class="btn btn-outline-info" asp-area = "Identity" asp-page="/Account/Register" style="float: right;">
         <i class="bi bi-sign-intersection"></i> Create New Category 
         </a>
      </div>
   </div>
   <div class="p-4 border rounded">
   <table id="tblData" class="table table-striped" style="width:100%">
      <thead class="table-light">
         <tr class="table-info">
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
         <th>
             Company
             </th>
         <th>
             Role
             </th>
         </tr>
      </thead>
 </table>
</div>

@section Scripts 
{
    <script src="~/js/user.js"></script>
}